DATABASE_URL="postgres://identifier:key@db.prisma.io:5432/postgres?sslmode=require"

APP_BASE_URL="http://localhost:3000"
SSO_BASE_URL="https://sso.ui.ac.id/cas2"
SSO_CALLBACK_URL="http://localhost:3000/api/auth/sso/callback"
ENABLE_DEV_AUTH="true"

R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET=""
R2_PUBLIC_BASE_URL=""
